/*********************************************
:: Home Page
********************************************/
.page-home {
  .img-banner {
    img {
      width: 100%;
      object-fit: fill;
    }
  }

  .body-section {
    .inner-wrap {
      padding: 30px 20px 70px;
      background: #fff;

      @media (min-width: $mediumish) {
        padding: 46px 48px 60px;
      }
    }

    .left, .right {
      width: 100%;
    }

    .left {
      max-width: 705px;
      margin-right: 15px;

      h1 {
        margin: 0 0 20px;
        color: $color-4;

        @media (min-width: $mediumish) {
          margin: 0 0 25px;
        }
      }

      h3 {
        margin: 0 0 15px;

        @media (min-width: $mediumish) {
          margin: 0 0 27px;
        }
      }

      p {
        margin: 0;
      }
    }

    .right {
      margin: 42px 0 0;

      @media (min-width: $medium) {
        margin: 0;
        max-width: 285px;
      }

      img {
        width: 100%;
      }
    }
  }
}
