/*********************************************
:: Typography
********************************************/

html,
body {
  width: 100%;

  font-family: $font-family-1;
  font-weight: $font-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  font-family: $font-family-2;

  // font-weight: 700;

  color: #000;

  @media (min-width: $mediumish) {
    margin: 0 0 30px;
  }

  strong {
    color: #000;
  }
}

h1,
.h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.38px;
  line-height: 39px;

  @media (min-width: $mediumish) {
    font-size: 42px;
    letter-spacing: 0.5px;
    line-height: 51px;
  }
}

h2,
.h2 {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.21px;
  line-height: 33px;

  // @media (min-width: $mediumish) {
  //   font-size: 27px;
  //   line-height: 40px;
  // }
}

h3,
.h3 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.16px;
  line-height: 26px;

  @media (min-width: $mediumish) {
    font-size: 26px;
    letter-spacing: 0.21px;
    line-height: 33px;
  }

  &.bigger {
    width: 240px;

    font-size: 28px;
    letter-spacing: -0.1px;
    line-height: 33px;

    color: $color-3;

    @media (min-width: $mediumish) {
      font-size: 34px;
      letter-spacing: -0.13px;
      line-height: 33px;
    }
  }
}

h4,
.h4 {
  font-size: 18px;
  line-height: 24px;

  @media (min-width: $mediumish) {
    font-size: 24px;
    line-height: 30px;
  }
}

h5,
.h5 {
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $mediumish) {
    font-size: 18px;
    line-height: 26px;
  }
}

h6,
.h6 {
  font-family: $font-family-1;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;

  @media (min-width: $mediumish) {
    font-size: 16px;
  }
}

/******************************************   */
// Main

p,
td,
th,
a,
mark,
time,
dl,
label,
address {
  margin: 0 0 20px;

  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 24px;

  color: #000;

  @media (min-width: $mediumish) {
    font-size: 22px;
    letter-spacing: 0;
    line-height: 30px;
  }

  a,
  li,
  p,
  mark,
  cite,
  time {
    font-size: 1em;
  }
}

a {
  margin: 0;

  font-weight: $font-normal;
  text-decoration: none;
  color: $color-link;

  transition: all 0.5s ease-in-out;

  &:hover {
    color: $color-link-hover;
  }
}

small {
  font-size: 70%;
}

strong,
b {
  font-weight: $font-bold;
}

em,
i {
  font-style: italic;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 15px;

  background: $grey-2;
  border: none;
  outline: none;
}

/******************************************   */
// Lists

dt {
  font-weight: $font-bold;

  // &::after {
  //   content: ':';
  // }
}

dt::after {
  content: ': ';
}

ul li {
  position: relative;
  list-style-type: none;
  text-indent: 0;
}

ol li {
  list-style-type: decimal;
}

/******************************************   */
// Code

code,
pre,
samp,
kbd,
var {
  margin: 0;
  padding: 1px 5px;

  color: white;
  background: #2d747e;
  white-space: pre-wrap;
}

pre {
  padding: 10px;
}

/******************************************   */
// Blockquote

blockquote {
  position: relative;
  display: block;
  margin: 35px 0 55px;
  padding: 20px 10%;

  font-size: 20px;
  font-weight: $font-light;
  font-style: italic;
  text-align: center;
  line-height: 30px;
  color: $color-4;

  @media (min-width: $mediumish) {
    padding: 40px 10%;
    font-size: 25px;
    line-height: 35px;
  }
}

/******************************************   */
// Styles for Content Areas (wysiwyg)

.wysiwyg {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 24px;

  color: #000;

  @media (min-width: $mediumish) {
    font-size: 22px;
    letter-spacing: 0;
    line-height: 30px;
  }

  img {
    display: block;
    margin: 0 auto 15px;
  }

  ul {
    // margin-left: 20px;

    li {
      // list-style-type: disc;

      margin: 0 0 20px;

      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0;
      line-height: 24px;

      color: #000;

      @media (min-width: $mediumish) {
        font-size: 22px;
        letter-spacing: 0;
        line-height: 30px;
      }

      &::before {
        content: '-';
        display: inline-block;
        margin-right: 6px;
      }

      & > * {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0;
        line-height: 24px;

        color: #000;

        @media (min-width: $mediumish) {
          font-size: 22px;
          letter-spacing: 0;
          line-height: 30px;
        }
      }
    }
  }

  ol {
    margin: 0 0 20px;
    padding: 0 0 0 15px;

    li {
      padding-left: 10px;

      margin: 0 0 20px;

      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0;
      line-height: 24px;

      color: #000;

      @media (min-width: $mediumish) {
        font-size: 22px;
        letter-spacing: 0;
        line-height: 30px;
      }

      &::marker {
        font-size: 16px;
        color: #4a4a4a;
      }

      & > * {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0;
        line-height: 24px;

        color: #000;

        @media (min-width: $mediumish) {
          font-size: 22px;
          letter-spacing: 0;
          line-height: 30px;
        }
      }
    }
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text-justify {
    text-align: justify;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.leadcopy {
  font-family: $font-family-1;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #4a4a4a;
}

/******************************************   */
// Typekit Trick

.wf-loading h1,
.wf-loading h2,
.wf-loading p,
.wf-loading a {
  visibility: hidden;
}

/******************************************   */
